html {
  scroll-behavior: smooth;
}

body {
  color: #2e2d29;
  background-color: #F4F4F4;
  text-align: center;
}

.container {
  background-color: #FFFFFF;
  width: 80%;
  display: inline-block;
  text-align: left;
  padding: 10px 100px;
  border-radius: 10px;
}

.btn-padded {
  padding: 10px;
  margin: 20px;
  white-space: normal;
  box-shadow: 5px 5px 1px #5555;
}

.share-buttons > * {
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 2px;
}

.share-container {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
}


svg {
    cursor:pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1300px) {
  .container {
    padding: 6px 20px;
  }
}

#iframe {
  border-width: 0px;
  padding-bottom: 15px;
}

@media (max-width: 780px) {
  .container {
    width: 98%;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #8c1515;
  border-radius: 10px 10px 0px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #B1040E;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #B1040E;
}

.text-link {
  color: #8c1515;
}

.text-link:hover {
  color: #B1040E;
}

.status-0 {
  color: #B1040E;
}

.status-1 {
  color: #eaab00;
}

.status-2 {
  color: #175e54;
}

h3 {
  font-size: 1.8em;
}

h4  {
  font-size: 1.5em;
}

h5 {
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
}

svg {
  display: block;
  width:100%;
  margin: auto;
  margin-bottom: 15px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
